@import './theme.less';
@import 'http://at.alicdn.com/t/font_2179338_8s0z298nbo9.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.qm-margin-null{
  margin: 0 !important;
}
.qm-text-primary {
  color: @brand-primary
}

.qm-text-waring {
  color: @brand-warning
}

.qm-text-error {
  color: @brand-error
}
.qm-text-base{
  color:@color-text-base
}
.qm-text-placeholder {
  color:@color-text-placeholder
}
.qm-text-secondary {
  color:@color-text-secondary
}
.qm-text-disabled {
  color:@color-text-disabled
}
.qm-text-wait {
  color: @brand-wait
}

.qm-bg-primary {
  background-color: @brand-primary
}

.qm-bg-waring {
  background-color: @brand-warning
}

.qm-bg-error {
  background-color: @brand-error
}

.qm-bg-wait {
  background-color: @brand-wait
}
.qm-address-search{
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 5%;
  top: 60px;
  z-index: 100;
  width: 90%;
  box-sizing: border-box;
  .am-button {
    background-color: transparent;
  }
  .am-list-item.am-input-item{
    background-color: transparent;
  }
  .am-input-item{
    margin: 0;
    padding:0;
    .am-flexbox{
      max-width: 100%;
      border-right:1px solid #999;
      padding:0 4px 0 10px;
      .am-flexbox-item{
        overflow: hidden;
        margin:0;
        .qm-body-2 {
          padding: 0 4px;
          text-align: center;
        }
      }
    }
    input{
      font-size:@font-size-base;
    }
  }
}
.qm-main-my-header {
  padding-top: 10px;
  background-color: #f5f5f9;
  background-image: linear-gradient(to bottom, @brand-primary, @brand-primary 56%, #f5f5f9 56.001%);

  .am-card-body {
    border-top: none !important;
    padding-top: 0px;

    &::before {
      background-color: transparent !important;
    }
  }

  .am-grid-item-content {
    text-align: left !important;
    padding: 6px 0 !important;
  }
}

.qm-icon-cricle {
  border: 1px solid @color-text-base;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}

.qm-main-page {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  padding-top: 45px;
  box-sizing: border-box;

  .qm-main-content {
    max-height: 100%;
    overflow: auto;
    text-align: center;
  }
}

.am-tab-bar {
  margin-top: -1px;
}

.mainIcon {
  font-size: 20* @hd;
}

.homeMenuIcon {
  font-size: 24*@hd;
}

.qm-body-1 {
  font-size: @font-size-caption-sm;
}
.qm-body-2{
 font-size: @font-size-base
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.am-list-content {
  overflow: initial !important;
}

.am-navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.qm-main-home {
  .am-list-content {
    border-left: 1px solid #f0f0f0;
    padding-left: 10px;
  }

  .am-list-item {
    margin-right: 6px;

    img {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}
.qm-fixed-page{
  background-color: @fill-base;
  box-sizing: border-box;
  padding-top: 45px;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
/*登录页面*/
.qm-login-page {
  background-color: @fill-base;
  box-sizing: border-box;
  padding-top: 118px;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    right: -55vw;
    bottom: -70vw;
    background: @brand-primary-opacity;
    // background:red;
    width: 140vw;
    height: 140vw;
    border-radius: 50%;
  }

  .qm-title-box {
    position: absolute;
    top: 56px;
    color: @color-text-base;
    font-size: 2rem;
    padding: 30px 0 18px 0;
    background-color: #fff;
    text-align: right;
    width: 50%;
    max-width: 220px;

    &::before {
      content: "";
      width: 100%;
      background-color: @brand-primary;
      height: 0.6rem;
      position: absolute;
      top: 50%;
      left: 0;
    }

    .title {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -1.4rem;
      font-weight: bold;
    }
  }

  .am-flexbox {
    max-height: 300px;
    height: 100%;
  }
}

.qm-radius {
  border-radius: 30px;
}

.qm-fill-width {
  width: 100%;
}

html:not([data-scale]) .am-list-body::before {
  background-color: transparent;
}


.demoTitle:before,
.demoTitle:after {
  border-bottom: none;
}

#trans-tooltip,
#tip-arrow-bottom,
#tip-arrow-top {
  display: none;
}