/* 基本单位*/
/* 色彩 */
/* 文字色*/
/*基本*/
/*基本 - 反色*/
/*辅助色*/
/*文本框提示*/
/*失效*/
/*辅助描述*/
/*段落*/
/*链接*/
/*背景色*/
/*组件默认背景*/
/*页面背景*/
/*组件默认背景 - 按下*/
/*通用失效背景*/
/*遮罩背景*/
/*许多小图标的背景，比如一些小圆点，加减号*/
/*透明度*/
/*switch checkbox radio 等组件禁用的透明度*/
/*全局/品牌色*/
/*边框色*/
/*字体尺寸*/
/*圆角*/
/*边框尺寸*/
/*间距*/
/*水平间距*/
/*垂直间距*/
/*高度*/
/*单行行高*/
/*多行行高*/
/*图标尺寸*/
/*导航条上的图标、grid的图标大小*/
/* 动画缓动*/
/*组件变量*/
/*button*/
/*同时应用于背景、文字颜色、边框色*/
/*menu*/
/*modal*/
/*按钮字号*/
/*按钮高度*/
/*list*/
/*input*/
/*InputItem、TextareaItem 文字长度基础值*/
/*input clear icon 的背景色*/
/*tabs*/
/*segmented-control*/
/*同时应用于背景、文字颜色、边框色*/
/*tab-bar*/
/*toast*/
/*toast, activity-indicator 的背景颜色*/
/*search-bar*/
/*input search icon 的背景色*/
/*notice-bar*/
/*keyboard*/
/*picker*/
/*picker 标题的高度*/
/* z-index*/
/*actonsheet 会放到 popup / modal 中*/
/*modal.alert 应该最大，其他应该较小*/
@import 'http://at.alicdn.com/t/font_2179338_8s0z298nbo9.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.qm-margin-null {
  margin: 0 !important;
}
.qm-text-primary {
  color: #77CC99;
}
.qm-text-waring {
  color: #FF9758;
}
.qm-text-error {
  color: #f4333c;
}
.qm-text-base {
  color: #333;
}
.qm-text-placeholder {
  color: #bbb;
}
.qm-text-secondary {
  color: #a4a9b0;
}
.qm-text-disabled {
  color: #bbb;
}
.qm-text-wait {
  color: #108ee9;
}
.qm-bg-primary {
  background-color: #77CC99;
}
.qm-bg-waring {
  background-color: #FF9758;
}
.qm-bg-error {
  background-color: #f4333c;
}
.qm-bg-wait {
  background-color: #108ee9;
}
.qm-address-search {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 5%;
  top: 60px;
  z-index: 100;
  width: 90%;
  box-sizing: border-box;
}
.qm-address-search .am-button {
  background-color: transparent;
}
.qm-address-search .am-list-item.am-input-item {
  background-color: transparent;
}
.qm-address-search .am-input-item {
  margin: 0;
  padding: 0;
}
.qm-address-search .am-input-item .am-flexbox {
  max-width: 100%;
  border-right: 1px solid #999;
  padding: 0 4px 0 10px;
}
.qm-address-search .am-input-item .am-flexbox .am-flexbox-item {
  overflow: hidden;
  margin: 0;
}
.qm-address-search .am-input-item .am-flexbox .am-flexbox-item .qm-body-2 {
  padding: 0 4px;
  text-align: center;
}
.qm-address-search .am-input-item input {
  font-size: 14px;
}
.qm-main-my-header {
  padding-top: 10px;
  background-color: #f5f5f9;
  background-image: linear-gradient(to bottom, #77CC99, #77CC99 56%, #f5f5f9 56.001%);
}
.qm-main-my-header .am-card-body {
  border-top: none !important;
  padding-top: 0px;
}
.qm-main-my-header .am-card-body::before {
  background-color: transparent !important;
}
.qm-main-my-header .am-grid-item-content {
  text-align: left !important;
  padding: 6px 0 !important;
}
.qm-icon-cricle {
  border: 1px solid #333;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}
.qm-main-page {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  padding-top: 45px;
  box-sizing: border-box;
}
.qm-main-page .qm-main-content {
  max-height: 100%;
  overflow: auto;
  text-align: center;
}
.am-tab-bar {
  margin-top: -1px;
}
.mainIcon {
  font-size: 20px;
}
.homeMenuIcon {
  font-size: 24px;
}
.qm-body-1 {
  font-size: 12px;
}
.qm-body-2 {
  font-size: 14px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.am-list-content {
  overflow: initial !important;
}
.am-navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}
.qm-main-home .am-list-content {
  border-left: 1px solid #f0f0f0;
  padding-left: 10px;
}
.qm-main-home .am-list-item {
  margin-right: 6px;
}
.qm-main-home .am-list-item img {
  width: 2.2rem;
  height: 2.2rem;
}
.qm-fixed-page {
  background-color: #fff;
  box-sizing: border-box;
  padding-top: 45px;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
/*登录页面*/
.qm-login-page {
  background-color: #fff;
  box-sizing: border-box;
  padding-top: 118px;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.qm-login-page::after {
  content: "";
  position: absolute;
  right: -55vw;
  bottom: -70vw;
  background: rgba(119, 204, 135, 0.1);
  width: 140vw;
  height: 140vw;
  border-radius: 50%;
}
.qm-login-page .qm-title-box {
  position: absolute;
  top: 56px;
  color: #333;
  font-size: 2rem;
  padding: 30px 0 18px 0;
  background-color: #fff;
  text-align: right;
  width: 50%;
  max-width: 220px;
}
.qm-login-page .qm-title-box::before {
  content: "";
  width: 100%;
  background-color: #77CC99;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left: 0;
}
.qm-login-page .qm-title-box .title {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1.4rem;
  font-weight: bold;
}
.qm-login-page .am-flexbox {
  max-height: 300px;
  height: 100%;
}
.qm-radius {
  border-radius: 30px;
}
.qm-fill-width {
  width: 100%;
}
html:not([data-scale]) .am-list-body::before {
  background-color: transparent;
}
.demoTitle:before,
.demoTitle:after {
  border-bottom: none;
}
#trans-tooltip,
#tip-arrow-bottom,
#tip-arrow-top {
  display: none;
}
.qm-district-picker .am-list-content {
  max-width: 100px;
}
.qm-district-picker .am-list-extra {
  flex: 1 1;
}
